src/test/srcgen4j-commons-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://www.fuin.org/srcgen4j/commons/test">
  
  <xs:element name="input" type="test:inputType" xmlns:test="http://www.fuin.org/srcgen4j/commons/test"/>
  
  <xs:complexType name="inputType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="path" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
</xs:schema>