src/main/resources/srcgen4j-commons-0_4_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.fuin.org/srcgen4j/commons/0.4.3"
   targetNamespace="http://www.fuin.org/srcgen4j/commons/0.4.3">   
 
  <xs:element name="srcgen4j-config" type="configType" />
  
  <xs:element name="variable" type="variableType" />
    
  <xs:complexType name="variableType">
      <xs:simpleContent>
          <xs:extension base="xs:string">
              <xs:attribute type="xs:string" name="name" use="required" />
              <xs:attribute type="xs:string" name="value" use="optional" />
              <xs:attribute type="xs:string" name="url" use="optional" />
              <xs:attribute type="xs:string" name="encoding" use="optional" />
          </xs:extension>
      </xs:simpleContent>
  </xs:complexType>
    
  <xs:element name="variables" type="variablesType" />
    
  <xs:complexType name="variablesType">
      <xs:sequence>
          <xs:element ref="variable"  minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="folderType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="path" use="required"/>
        <xs:attribute type="xs:boolean" name="create" use="optional" default="false"/>
        <xs:attribute type="xs:boolean" name="override" use="optional" default="false"/>
        <xs:attribute type="xs:string" name="overrideExclude" use="optional"/>
        <xs:attribute type="xs:string" name="overrideInclude" use="optional"/>
        <xs:attribute type="xs:boolean" name="clean" use="optional" default="false"/>
        <xs:attribute type="xs:string" name="cleanExclude" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="projectType">
    <xs:sequence>
      <xs:element type="folderType" name="folder" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="path" use="required"/>
    <xs:attribute type="xs:boolean" name="maven" use="optional" default="true"/>
  </xs:complexType>
  
  <xs:complexType name="projectsType">
    <xs:sequence>
      <xs:element type="projectType" name="project" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="anyConfigType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded">
       <xs:annotation>
          <xs:documentation>Specific configuration of unknown type</xs:documentation>
        </xs:annotation>        
      </xs:any>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="parserType">
    <xs:sequence>
      <xs:element ref="variable" minOccurs="0" maxOccurs="unbounded" />
      <xs:element type="anyConfigType" name="config" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="class" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="parsersType">
    <xs:sequence>
      <xs:element ref="variable" minOccurs="0" maxOccurs="unbounded" />
      <xs:element type="parserType" minOccurs="1" maxOccurs="unbounded" name="parser" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="targetType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="pattern" use="required"/>
        <xs:attribute type="xs:string" name="project" use="optional"/>
        <xs:attribute type="xs:string" name="folder" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="artifactType" mixed="true">
    <xs:sequence>
      <xs:element type="targetType" name="target" minOccurs="0" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="project" use="optional"/>
    <xs:attribute type="xs:string" name="folder" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="generatorType">
    <xs:sequence>
      <xs:element ref="variable" minOccurs="0" maxOccurs="unbounded" />
      <xs:element type="anyConfigType" name="config" minOccurs="0" maxOccurs="1" />
      <xs:element type="artifactType" name="artifact" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="class" use="required"/>
    <xs:attribute type="xs:string" name="parser" use="required"/>
    <xs:attribute type="xs:string" name="project" use="optional"/>
    <xs:attribute type="xs:string" name="folder" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="generatorsType">
    <xs:sequence>
      <xs:element ref="variable" minOccurs="0" maxOccurs="unbounded" />
      <xs:element type="generatorType" name="generator" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="configType">
    <xs:sequence>
      <xs:element ref="variables" minOccurs="0" maxOccurs="1" />
      <xs:element type="projectsType" name="projects" minOccurs="1" maxOccurs="1" />
      <xs:element type="parsersType" name="parsers"  minOccurs="1" maxOccurs="1" />
      <xs:element type="generatorsType" name="generators"  minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

    <xs:complexType name="artifactFactoryConfigType">
      <xs:sequence>
        <xs:element ref="variable" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    <xs:attribute type="xs:string" name="artifact" use="required" />
    <xs:attribute type="xs:string" name="class" use="required" />
    <xs:attribute type="xs:boolean" name="incremental" use="optional" />
  </xs:complexType>

</xs:schema>
